.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    transition: 0.3s linear;
}

.button-open {
    border: 2px solid;
    border-radius: 0.25em;
    text-decoration: none;
    padding: 5px;
    border-color: #00b06f;
    background-color: #00b06f;
    color: white;
}

.button-open:hover {
    transition: 0.15s ease-in-out;
    text-decoration: underline;
    padding: 10px;
    background-color: #00b06f;
    color: white;
}

.button-error {
    border: 2px solid;
    border-radius: 0.25em;
    text-decoration: none;
    padding: 5px;
    border-color: #f78f4b;
    background-color: #f78f4b;
    color: white;
}

.button-error:hover {
    transition: 0.15s ease-in-out;
    text-decoration: underline;
    padding: 10px;
    background-color: #f78f4b;
    color: white;
}

.button-closed {
    border: 2px solid;
    border-radius: 0.25em;
    text-decoration: none;
    padding: 5px;
    border-color: #f74b52;
    background-color: #f74b52;
    color: white;
}

.button-closed:hover {
    transition: 0.15s ease-in-out;
    text-decoration: underline;
    padding: 10px;
    background-color: #f74b52;
    color: white;
}

.button {
    border: 2px solid;
    border-color: black;
    border-radius: 0.25em;
    text-decoration: none;
    padding: 5px;
    color: white;
}

.button:hover {
    transition: 0.15s ease-in-out;
    text-decoration: underline;
    padding: 10px;
    background-color: black;
    color: white;
}