@font-face{
    font-family: gothamBook;
    src:url(/Users/jacobmchan/Documents/website/assets/fonts/GothamBook.otf)
}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: gothamBook;
}

body{
    background-position: center;
    background-size: cover;
}

.cube-button{
    text-decoration: none;
    font-size: larger;
    color: black;
    border-radius: 0.15em;
    border: 2px solid;
    padding: 5px 10px;
}

.cube-button:hover{
    transition: .5s;
    border: 0px solid;
    background-color: #00A2FF;
    text-decoration: underline;
    border: 2px solid;
    border-color: #00A2FF;
}

.home-body-info1{
    text-align: center;
    background-image: url(/Users/jacobmchan/Documents/website/assets/images/Background1.png);
    color: white;
    margin: 50px auto;
}

.home-body-info1 h1{
    font-size: 50px;
}

.home-body-info1 a{
    display: inline-block;
    margin-top: 10px;
    color: white;
}

.home-body-info2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-body-info2-box1 a{
    display: inline-block;
    margin-top: 10px;
}